<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lv.cloud.dao.OrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lv.cloud.entity.Order">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="count" property="count"/>
        <result column="money" property="money"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">id, user_id,product_id,count,money,status</sql>


    <select id="getAll" resultType="Order">
        select <include refid="Base_Column_List"/> from t_order
    </select>

    <select id="findAll" resultType="map">
        select * from t_order
    </select>

    <select id="getOrderById"  parameterType="java.lang.Long" resultType="Order">
        select  * from  t_order where id = #{id}
    </select>
    <insert id="create" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order (user_id,product_id,count,money,status) values (#{userId},#{productId},#{count},#{money},#{status})
    </insert>

    <update id="update" parameterType="Order">
        UPDATE t_order SET  status = #{status} where 1=1 AND id =#{id}
    </update>
</mapper>
